.backgroundBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fef7ec;
  height: 100vh;
  overflow: hidden;

  & .backButton {
    display: flex;
    align-items: center;
    gap: 0.25vw;
    position: absolute;
    top: 10%;
    left: 10%;
    background: transparent;
    color: var(--main-page-b-color-light-lightBlue2);
    padding: 0;
    border: none;
    cursor: pointer;
    font-size: 0.8vw;
    transition: 0.3s ease-in-out;

    & .iconBack {
      width: 1vw;
      height: 1vw;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

@media (max-width: 1024px) {
  .backgroundBlock {
    height: 100vh;
    padding: 5vw 0;

    & .backButton {
      gap: 0.5vw;
      top: 2%;
      left: 2%;
      font-size: 1.8vw;

      & .iconBack {
        width: 2.5vw;
        height: 2.5vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .backgroundBlock {
    height: 100vh;

    & .backButton {
      gap: 1vw;
      top: 2%;
      left: 2%;
      font-size: 3.3vw;

      & .iconBack {
        width: 4vw;
        height: 4vw;
      }
    }
  }
}

.container {
  text-align: center;
  width: 100%;
  max-width: 50vw;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    max-width: 90vw;
  }
}

.thanksPageBlock {
  display: flex;
  flex-direction: column;
  align-items: center;

  & img {
    width: 28vw;
  }

  & h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2.1vw;
    color: var(--main-page-b-color-darkGrey);
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-normal);

    & .titleBig {
      font-size: 4vw;
      line-height: var(--font-lineh-normal);
    }
  }

  & .thanksPageDescriptionOrange {
    color: #ff814f;
    font-size: 0.85vw;
    margin: 0 auto;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineh-big);
    margin-top: 0.5vw;

    &.thanksPageDescription {
      color: #64748b;
      margin-top: 1.5vw;
    }

    &.noMarg {
      margin: 0;
    }
  }
}

@media (max-width: 1024px) {
  .thanksPageBlock {
    & img {
      width: 60vw;
    }

    & h2 {
      & .titleBig {
        font-size: 6vw;
        line-height: var(--font-lineh-normal);
      }
    }

    & .thanksPageDescriptionOrange {
      font-size: 1.8vw;
      margin-top: 0.5vw;

      &.thanksPageDescription {
        margin-top: 2vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .thanksPageBlock {
    & img {
      width: 110vw;
    }

    & h2 {
      font-size: 10vw;

      & .titleBig {
        font-size: 10vw;
      }
    }

    & .thanksPageDescriptionOrange {
      font-size: 3.6vw;
      margin-top: 2vw;

      &.thanksPageDescription {
        margin-top: 3vw;
      }
    }
  }
}
