.servicesSection {
  padding: 3vw 0;
  background: rgba(248, 250, 252, 1);
}

@media (max-width: 1024px) {
  .servicesSection {
    padding: 5vw 0;
  }
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    max-width: 90vw;
    margin: 0 auto;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  & .title {
    color: rgba(31, 41, 55, 1);
    font-size: 1.8vw;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-small);
  }

  & .description {
    width: 50%;
    color: rgba(107, 114, 128, 1);
    font-size: 0.85vw;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-normal);
    margin-top: 1vw;
  }
}

@media (max-width: 1024px) {
  .header {
    & .title {
      font-size: 3.6vw;
    }

    & .description {
      width: 100%;
      font-size: 1.8vw;
      margin-top: 1vw;
    }
  }
}

@media (max-width: 576px) {
  .header {
    & .title {
      font-size: 6vw;
    }

    & .description {
      font-size: 3.6vw;
      margin-top: 3vw;
    }
  }
}

.allCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3vw;
  gap: 4vw;
}

@media (max-width: 1024px) {
  .allCards {
    flex-direction: column;
    margin-top: 3vw;
    gap: 2vw;
  }
}

@media (max-width: 576px) {
  .allCards {
    margin-top: 3vw;
    gap: 3vw;
  }
}

.card {
  width: 20%;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;

  .cardHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & .iconContainer {
      width: 3.75vw;
      height: 3.75vw;
      // background: rgba(245, 245, 245, 1);
      background: rgba(36, 137, 244, 1);
      border-radius: 0.5vw;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s ease-in-out;

      & img {
        width: 2vw;
        transition: 0.2s ease-in-out;
        filter: invert(100%);
        -webkit-filter: invert(100%);
        -moz-filter: invert(100%);
      }
    }

    & .cardTitle {
      color: rgba(31, 41, 55, 1);
      font-size: 0.95vw;
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-normal);
      margin-top: 0.75vw;
    }
  }

  &:hover {
    & .iconContainer {
      background: rgba(245, 245, 245, 1);

      & img {
        filter: invert(0%);
        -webkit-filter: invert(0%);
        -moz-filter: invert(0%);
      }
    }
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 0.5vw;

    & .cardDescription {
      color: rgba(107, 114, 128, 1);
      font-size: 0.8vw;
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-normal);
      width: 85%;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & .price {
      color: #00a8e4;
      font-size: 1.3vw;
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-normal);
      margin-top: 0.5vw;
    }
  }
}

@media (max-width: 1024px) {
  .card {
    width: 100%;
    border-radius: 0.5vw;
    transform: scale(1);
    padding: 3vw 2vw;

    &:hover {
      transform: scale(1);
    }

    .cardHeader {
      & .iconContainer {
        width: 10vw;
        height: 10vw;
        border-radius: 1vw;

        .card:hover & {
          transform: scale(1.1);
        }

        & .cardIcon {
          width: 3vw;
          height: 3vw;
        }

        & img {
          width: 5vw;
        }
      }

      & .cardTitle {
        font-size: 2.5vw;
        margin-top: 2vw;
      }
    }

    .cardContent {
      margin-top: 2vw;

      & .cardDescription {
        font-size: 1.8vw;
      }

      & .price {
        font-size: 3vw;
        margin-top: 2vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .card {
    border-radius: 3vw;
    padding: 5vw 2vw;

    .cardHeader {
      & .iconContainer {
        width: 17vw;
        height: 17vw;
        border-radius: 3vw;

        & .cardIcon {
          width: 5vw;
          height: 5vw;
        }

        & img {
          width: 8vw;
        }
      }

      & .cardTitle {
        font-size: 5vw;
        margin-top: 3vw;
      }
    }

    .cardContent {
      margin-top: 3vw;

      & .cardDescription {
        font-size: 3.6vw;
      }

      & .price {
        font-size: 5vw;
        margin-top: 3vw;
      }
    }
  }
}

.allPositionsBlock {
  display: flex;
  justify-content: center;
  margin-top: 1.5vw;

  & .allPositions {
    display: flex;
    background: none;
    border: 0.1vw solid rgba(36, 137, 244, 1);
    color: rgba(108, 108, 108, 1);
    font-size: 0.85vw;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-small);
    padding: 0.7vw 1.35vw;
    border-radius: 0.5vw;
    transition: 0.2s ease-in-out;
    gap: 0.6vw;
    cursor: pointer;

    &:hover {
      color: var(--color-white);
      background: rgba(36, 137, 244, 1);

      & .allPositionsIcon {
        color: var(--color-white);
      }
    }

    & .allPositionsIcon {
      width: 0.85vw;
      height: 0.85vw;
      color: rgba(108, 108, 108, 1);
      transition: 0.2s ease-in-out;
    }
  }
}

@media (max-width: 1024px) {
  .allPositionsBlock {
    display: flex;
    justify-content: center;
    margin-top: 2vw;

    & .allPositions {
      font-size: 1.8vw;
      padding: 1.2vw 2vw;
      border-radius: 0.5vw;
      gap: 1.2vw;

      & .allPositionsIcon {
        width: 1.85vw;
        height: 1.85vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .allPositionsBlock {
    display: flex;
    justify-content: center;
    margin-top: 2vw;

    & .allPositions {
      font-size: 3.6vw;
      padding: 2.5vw 4.5vw;
      border-radius: 1vw;
      gap: 2vw;

      & .allPositionsIcon {
        width: 3vw;
        height: 3vw;
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2vw;

  & .footerText {
    color: rgba(107, 114, 128, 1);
    font-size: 0.85vw;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .footer {
    margin-top: 3vw;

    & .footerText {
      font-size: 1.8vw;
      width: 100%;
    }
  }
}

@media (max-width: 576px) {
  .footer {
    margin-top: 5vw;

    & .footerText {
      font-size: 3.6vw;
    }
  }
}

.ctaButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(to right, #307efa, #00a8e4);
  color: white;
  font-size: 0.85vw;
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineh-small);
  border: 0;
  padding: 0.8vw 1.35vw;
  border-radius: 0.5vw;
  transition: opacity 0.2s ease;
  text-decoration: none;
  gap: 0.6vw;
  cursor: pointer;
  margin-top: 2vw;

  &:hover {
    opacity: 0.9;
  }

  & .buttonIcon {
    width: 0.85vw;
    height: 0.85vw;
  }
}

@media (max-width: 1024px) {
  .ctaButton {
    font-size: 1.8vw;
    padding: 1.4vw 2vw;
    border-radius: 0.5vw;
    margin-top: 2vw;
    gap: 1.2vw;

    & .buttonIcon {
      width: 1.85vw;
      height: 1.85vw;
    }
  }
}

@media (max-width: 576px) {
  .ctaButton {
    margin-top: 5vw;
    font-size: 3.6vw;
    padding: 2.5vw 4.5vw;
    border-radius: 1vw;
    gap: 2vw;

    & .buttonIcon {
      width: 3vw;
      height: 3vw;
    }
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  -webkit-backdrop-filter: blur(0.3vw) saturate(180%);
  backdrop-filter: blur(0.3vw) saturate(180%);
}

.modal {
  background: rgb(248, 250, 252);
  padding: 1vw 1.5vw;
  border-radius: 0.5vw;
  max-width: 33vw;
  width: 100%;
  position: relative;
  animation: fadeIn 0.3s ease;

  & .closeIcon {
    background: none;
    position: absolute;
    top: 0.5vw;
    right: 0.5vw;
    width: 1.25vw;
    height: 1.25vw;
    fill: rgb(31, 41, 55);
    cursor: pointer;
  }
}

@media (max-width: 1024px) {
  .modal {
    padding: 3vw 3vw;
    border-radius: 1vw;
    max-width: 85vw;

    & .closeIcon {
      top: 1.5vw;
      right: 1.5vw;

      width: 3vw;
      height: 3vw;
    }
  }
}

@media (max-width: 576px) {
  .modal {
    padding: 6vw 5vw;
    border-radius: 1.5vw;
    max-width: 90vw;

    & .closeIcon {
      top: 2vw;
      right: 2vw;

      width: 5vw;
      height: 5vw;
    }
  }
}

.modalBlockFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vw;

  & .modalTitle {
    color: rgb(31, 41, 55);
    font-size: 1vw;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-normal);
  }

  & .modalImage {
    width: 100%;
    border-radius: 0.5vw;
  }

  & .modalDescription {
    color: rgb(107, 114, 128);
    font-size: 0.85vw;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
  }

  & .callButtonBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & .callButton {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5vw;
      background: linear-gradient(to right, #307efa, #00a8e4);
      border: 0;
      font-size: 0.75vw;
      color: white;
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-smallStrong);
      line-height: var(--font-lineh-small);
      padding: 0.65vw 1.25vw;
      border-radius: 0.3vw;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      animation: pulse-button-header 2.5s infinite;

      & .iconPhone {
        width: 0.85vw;
        height: 0.85vw;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media (max-width: 1024px) {
  .modalBlockFlex {
    gap: 3vw;

    & .modalTitle {
      font-size: 2.5vw;
    }

    & .modalImage {
      border-radius: 0.5vw;
    }

    & .modalDescription {
      font-size: 1.8vw;
    }

    & .callButtonBlock {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      & .callButton {
        gap: 1.5vw;
        font-size: 1.8vw;
        padding: 1.75vw 3.5vw;
        border-radius: 0.75vw;
        animation: none;

        & .iconPhone {
          width: 2vw;
          height: 2vw;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .modalBlockFlex {
    align-items: center;
    gap: 4vw;

    & .modalTitle {
      font-size: 4.25vw;
    }

    & .modalImage {
      text-align: center;
      width: 80%;
      border-radius: 1vw;
    }

    & .modalDescription {
      font-size: 3.6vw;
    }

    & .callButtonBlock {
      & .callButton {
        gap: 3vw;
        font-size: 3.6vw;
        padding: 3vw 5vw;
        border-radius: 1vw;

        & .iconPhone {
          width: 4vw;
          height: 4vw;
        }
      }
    }
  }
}

.callButton:hover {
  opacity: 0.9;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pulse-button-header {
  0% {
    box-shadow: 0 0 0 0px rgb(0, 168, 228);
  }

  70% {
    box-shadow: 0 0 0.75vw 0.75vw rgba(81, 203, 238, 0);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(81, 203, 238, 0);
  }
}

.extraCards {
  display: contents;
}

.extraCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4vw;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition:
    max-height 0.6s ease,
    opacity 0.4s ease;

  &.expanded {
    max-height: 100vw;
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .extraCardsWrapper {
    gap: 4vw;

    &.expanded {
      max-height: 1000vw;
    }
  }
}

@media (max-width: 1024px) {
  .extraCardsWrapper {
    gap: 2vw;
  }
}

@media (max-width: 576px) {
  .extraCardsWrapper {
    gap: 3vw;
  }
}
